{% extends "base.html" %}
{% block content %}
{% if articles %}
{% for article in articles_page.object_list %}
<div class="article">
	<p class="date">{{ article.locale_date }}</p>
	<h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
	{{ article.summary }}
	<p class="more"><a href="{{ SITEURL }}/{{ article.url }}">Read more</a></p>
	<p class="info">Posted by <a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a> in <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a> with tags {% include 'taglist.html' %}</p>
</div>
{% endfor %}
{% endif %}
{% if articles_page and articles_paginator.num_pages > 1 %}
{% include 'pagination.html' %}
<div style="clear: both;"></div>
{% endif %}
{% endblock content %}
